---
import { Layout } from '@/layouts'

const AllPosts = await Astro.glob('./*.mdx')
---

<Layout title="Lang Resume">
  <div class="max-w-[600px] m-auto px-4 py-8 w-full flex flex-col gap-4">
    {
      AllPosts.map((post) => (
        <a
          href={post.frontmatter.href}
          class="border flex border-slate-300 items-center gap-[20px] px-6 py-4 rounded-2xl hover:border-blue-500 transition-all"
        >
          <img class="w-[40px] h-[40px]" src={post.frontmatter.icon} alt={post.frontmatter.title} />
          <h2 class="text-slate-600 text-xl font-bold">{post.frontmatter.title}</h2>
        </a>
      ))
    }
  </div>
</Layout>
