<header class="flex justify-center items-center">
  <h1 id="home-title" class="text-center opacity-0 text-4xl">Astro Starter</h1>
</header>

<script>
  import { revealTop } from '@/actions'
  revealTop('home-title')
</script>
