---
import { Logo } from '@/components'
---

<nav class="border-b px-4 py-4">
  <div class="m-auto w-full max-w-[1200px] flex justify-between items-center">
    <a href="/" class="font-bold text-xl m-auto flex gap-2">
      <Logo />
    </a>
  </div>
</nav>
